[Unit]
Description=Telegram bot 'Town Wars'
After=syslog.target
After=network.target

[Service]
Type=simple
User=sysadmin
WorkingDirectory=/home/telegrambots/bitrix/bin/bot
ExecStart=/home/telegrambots/bitrix/bin/python3 /home/telegrambots/bitrix/bin/bot/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
